.errMessage {
    font-size: 16px;
    color: red;
}

.inputPassword {
    width: 88% !important;
    display: inline !important;
}

.icon {
    margin-left: 8px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
}