
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background: black;
}

.logo {
    flex: 1;
}

.actions {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.actions a {
    color: white;
    text-decoration: unset;
}

.active {
    color: aquamarine !important;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.avatar:hover {
    transform: scale(1.1);
}
